<html lang="en">
<head>
    <!-- Head partial -->
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <!-- Header partial -->
    <% include ../partials/header %>
</header>

<main>
    <div class="ui grid container">
        <div class="ui two column centered grid">
            <div class="column">
                <!-- Enctype is multipart to support file upload -->
                <form action="/create" method="post" enctype="multipart/form-data" class="ui form">
                    <div class="field">
                        <label>Title</label>
                        <input name="title" type="text" placeholder="Title" />
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="4" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="field">
                        <input id="image" name="image" type="hidden" class="upload_field"/>
                    </div>
                    <div class="field">
                        <label>Tags</label>
                        <div class="ui fluid multiple search selection dropdown" id="tag">
                            <input name="tags" id="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tags</div>
                            <div class="menu">
                                <div class="item" value="puppy">puppy</div>
                                <div class="item" value="kitten">kitten</div>
                            </div>
                        </div>
                    </div>
                    <button onclick="upload_cloudinary()" class="ui button" type="button" id="upload_widget_opener">Upload with Widget</button>
                    <button class="ui primary button" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- Scripts partial -->
<% include ../partials/scripts %>
</body>
</html>